* {
    /* border: 1px solid black; */
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.head {
    color: #fac650;
}

.container-fluid {
    margin-bottom: 4rem;
}

footer {
    margin-top: 2rem;
}

button {
    border: none;
    background: none;
    outline: none;
    font-size: 150px;
    transition: 100ms;
    cursor: pointer;
}

button:hover {
    transform: scale(1.3);
}

.result {
    font-size: 100px;
}